<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving static files</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <h1>Hi!!! I am a demo header</h1>
        <p>And I am paragraph content.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, inventore rerum fuga cupiditate optio eum
            temporibus hic, amet blanditiis odit voluptatibus veritatis debitis tenetur atque deserunt! Magnam rem ea
            suscipit!</p>
    </div>
</body>

</html>